[Desktop Entry]
Version=1.0
Type=Link
Name=html 
Comment=
Icon=user-bookmarks
URL=file:///home/sawera/Desktop/MyPersonalWork/programming/di%20list.html
