[Desktop Entry]
Version=1.0
Type=Link
Name=hello html
Comment=
Icon=user-bookmarks
URL=file:///home/sawera/Desktop/MyPersonalWork/programming/hello.html
