* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.underline:hover {
    text-decoration: underline;
}

/* ----------- Upper Navbar ---------- */

.upper-navbar {
    width: 85rem;
    height: 32px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin-left: 25px;
}

.upper-navbar .upper-nav1 {
    display: flex;  
    
}

.upper-navbar .upper-nav1 p {
    display: block;
    margin-left: 2rem;
    font-size: 0.75rem;
    font-weight: 100;
    padding: 4px 8px;
}

.upper-navbar .upper-nav1 .hi {
    display: block;
    text-align: center;
    margin: 0;

}

.upper-navbar .upper-nav1 .or {
    margin-left: 3px;
    display: block;
    text-align: center;
    
}

.upper-navbar .upper-nav1 a {
    display: block;
    /* margin-left: 0.25rem; */
    text-align: center;
    font-size: 0.75rem;
    font-weight: 100;
    padding: 2px 2px;
    
}

.upper-navbar .upper-nav2 {
    display: flex;
    margin-right: 25px;
}

.upper-navbar .upper-nav2 p {
    display: block;
    margin-right: 2rem;
    font-size: 0.75rem;
    font-weight: 100;
    padding: 4px 8px;
}

.upper-navbar .upper-nav2 .my-eBay {
    border: none;
    font-size: 0.75rem;
    font-weight: 100;
    padding: 2px 4px;
}

.upper-navbar .upper-nav2 .watchlist {
    border: none;
    margin-right: 2rem;
    font-size: 0.75rem;
    font-weight: 100;
    padding: 2px 4px;
}

.upper-navbar .upper-nav2 i {
    margin-right: 0rem;
    margin-left: 2rem;
    font-size: 18px;
    padding: 4px 8px;
}

/* ------------------ Main-Navbar ----------------- */

.main-navbar {
    height: 5rem;
    background-color: #fff;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
}

.main-navbar .logo {
    height: 120px;
    display: block;
    justify-content: center;
    /* padding: 15px 20px; */
}

.main-navbar .op-category {
    border: none;
    color: #707070;
}

.input {
    width: 70%;
    height: 50px;
    background-color: #fff;
    border: 2px solid #000;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    align-items: center;
    /* margin-left: 20px; */
}

.input input {
    padding: 10px 5px;
    width: 90%px;
    height: 45px;
    border: none;
    /* background-color: #000; */
    border-radius: 30px;
    display: block;
    margin-left: 10px;
}

.input .all {
    border: none;
    display: block;
    margin-left: 650px;
}

.input i {
    display: block;
    margin-left: 10px;
}

.search {
    height: 50px;
    width: 125px;
    color: #fff;
    border-radius: 30px;
    background-color: #0968f6;
    border: none;
    font-size: 15px;
    display: block;
    margin-right: 10px;
}

.main-navbar p {
    font-size: small;
    font-weight: lighter;
    color: #707070;
    margin-right: 10px;
}

.main-navbar p:hover {
    text-decoration: underline;
    color: blue;
}

/* ------------- Lower-Navbar ----------- */
.links {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    
}

.links a {
    text-decoration: none;
    color: #555555;
    font-size: small;
    margin-left: 20px;
}

.links .more {
    border: none;
    color: #555555;
    font-size: small;
    margin-left: 20px;
}

/* ------------------ Hero-Section ----------------- */

.hero-section {
    /* display: flex; */
    /* justify-content: center; */
    text-align: center;
    margin-top: 20px;
}

.hero-section .hero-pic {
    width: 1120px;
    border-radius: 30px;
    
}

/* ----------- Shopping ------------ */

.easy-shopping {
    display: flex;
    margin-top: 50px;
    margin-left: 170px;
    color: #191919;
}

.easy-shopping button {
    width: 100px;
    height: 50px;
    background-color: #191919;
    border: none;
    color: #fff;
    border-radius: 30px;
    display: block;
    margin-left: 600px;
    cursor: pointer;
    font-size: 18px;
}

/* ------------------- Main-Content ------------------------ */

/* ------------- Line1 ------------ */

.main-content {
    margin-top: 30px;
}

.line1 h2 {
    margin-left: 30px;
}

.con-pics-line {
    display: flex;
    justify-content: space-evenly;
}

.con-pics-line .tablet {
    width: 150px;
    height: 150px;
    background-color: #eee9e9;
    border-radius: 50%;
    text-align: center;
    margin-top: 20px;
}

.con-pics-line .tablet img {
    width: 80px;
    height: 120px;
    margin-top: 15px;
}

.con-pics-line .tablet h4 {  
    font-size: medium;
    margin-top: 20px;
}

.con-pics-line .tablet .comic-book {
    width: 90px;
    height: 120px;
}

.con-pics-line .tablet .car-wheel {
    height: 100px;
    margin-top: 30px;
}

.con-pics-line .tablet .wheel-text {
    margin-top: 25px;
}

.con-pics-line .tablet .shoes {
    width: 120px;
}

.con-pics-line .tablet .phone {
    height: 90px;
    margin-top: 35px;
}

.con-pics-line .tablet .p-text {
    margin-top: 30px;
}

/* --------------- Line2 ------------ */

.line2 {
    margin-top: 80px;
    margin-left: 30px;
}


.line2 .con-pics-line .tablet .basket-ball {
    width: 100px;
    height: 100px;
    margin-top: 25px;
}

.line2 .con-pics-line .tablet .basket-txt {
    margin-top: 40px;
}

.line2 .con-pics-line .tablet .sport-card {
    width: 100px;
}

.line2 .con-pics-line .tablet .funko-txt {
    margin-top: 30px;
}

.line2 .con-pics-line .tablet .comic-txt {
    margin-top: 30px;
}

.line2 .con-pics-line .tablet .wolverine {
    width: 120px;
    height: 130px;
    margin-top: 5px;
}

.line2 .con-pics-line .tablet .figures-txt {
    margin-top: 30px;
}

.line2 .con-pics-line .tablet .antiques-txt {
    margin-top: 30px;
}

/* --------------- Line3 ------------ */

.line3 {
    margin-top: 80px;
    margin-left: 30px;
}

.line3 .con-pics-line .tablet .apple {
    width: 145px;
    height: 100px;
    margin-top: 30px;
}

.line3 .con-pics-line .tablet .apple-txt {
    margin-top: 30px;
}

.line3 .con-pics-line .tablet .dyson {
    width: 110px;
    height: 50px;
    margin-top: 60px;
}

.line3 .con-pics-line .tablet .dyson-txt {
        margin-top: 55px;
}

.line3 .con-pics-line .tablet .samsung {
    width: 120px;
    height: 70px;
    margin-top: 40px;
}

.line3 .con-pics-line .tablet .samsung-txt {
        margin-top: 50px;
}

.line3 .con-pics-line .tablet .nintendo {
    width: 100px;
    height: 70px;
    margin-top: 40px;
}

.line3 .con-pics-line .tablet .nintendo-txt {
        margin-top: 50px;
}

.line3 .con-pics-line .tablet .playstation {
    height: 70px;
    margin-top: 40px;
}

.line3 .con-pics-line .tablet .playstation-txt {
    margin-top: 50px;
}

.line3 .con-pics-line .tablet .lego-txt {
    margin-top: 25px;
}

.line3 .con-pics-line .tablet .pokemon {
    height: 60px;
    margin-top: 40px;
}

.line3 .con-pics-line .tablet .pokemon-txt {
    margin-top: 60px;
}

/* ---------------- Lower-Hero -------------- */

.lower-hero {
    text-align: center;
    margin-top: 90px;
    position: relative;
}

.lower-hero img {
    width: 1185px;
    height: 360px;
    border-radius: 30px;
}

.lower-hero .hero-txt {
    position: absolute;
    top: 0;
    padding: 5px 10px;
    margin: 100px 200px;
    color: #fff;
}

.lower-hero .hero-txt h2 {
    padding: 10px 20px;
}

.lower-hero .hero-txt p {
    color: #ffffff;
}

.lower-hero .hero-txt button {
    margin-top: 50px;
    width: 120px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: large;
    display: block;
    margin-left: 30px;
    cursor: pointer;
}

/* --------------------- Footer-------------------- */

.footer {
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
}

.footer .block1 {
    /* margin-left: 60px; */
    margin-top: 30px;
}

.footer .block1 h5 {
    padding-left: 3px;
    width: fit-content
}

.footer .block1 .pharas {
    margin-top: 15px;
}

.footer .block1 .pharas p {
    padding: 5px 3px;
    font-size: small;
    color: #707070;
    width: fit-content
}

.footer .block2 {
    
    margin-top: 30px;
}

.footer .block2 h5 {
    padding-left: 3px;
    width: fit-content
}

.footer .block2 .pharas {
    margin-top: 15px;
}

.footer .block2 .pharas p {
    padding: 5px 3px;
    font-size: small;
    color: #707070;
    width: fit-content
}

.footer .block3 {
    margin-top: 30px;
}

.footer .block4 {
    margin-top: 30px;
}

.footer .block4 .pharas {
    margin-top: 15px;
}

.footer .block4 .pharas p {
    padding: 5px 3px;
    font-size: small;
    color: #707070;
    width: fit-content
}

.footer .block4 h5 {
    padding-left: 3px;
    width: fit-content
}

.footer .block5 {
    margin-top: 30px;
}

.footer .block5 .pharas {
    margin-top: 15px;
}

.footer .block5 .pharas .facebook {
    display: flex;
    align-items: center;
    gap: 2px;
}

.footer .block5 .pharas .xtwitter {
    display: flex;
    align-items: center;
    gap: 2px;
} 

.footer .block6 {
    margin-top: 30px;
}

.footer .block6 .pharas {
    margin-top: 15px;
}

.footer .block6 h5 {
    padding-left: 3px;
    width: fit-content
}

.footer .block6 .pharas p {
    padding: 5px 3px;
    font-size: small;
    color: #707070;
    width: fit-content
}

.footer .block7 {
    margin-top: 30px;
}

.footer .block7 .pharas {
    margin-top: 15px;
}

.footer .block7 h5 {
    padding-left: 3px;
    width: fit-content
}n

.footer .block7 .pharas p {
    padding: 5px 3px;
    font-size: small;
    color: #707070;
    width: fit-content
}

.footer .block8 {
    margin-top: 30px;
}

.footer .block9 {
    margin-top: 60px;
}

.footer .block9 .options {
    display: flex;
    margin-top: 15px;
    border: 1px solid #555555;
    border-radius: 5px;
    align-items: center;
    width: 200px;
}

.footer .block9 .options img {
    margin-left: 15px;
}

.footer .block9 .options select {
    border: none;
    margin-left: 20px;
    padding: 5px 3px;
    font-size: small;
    color: #707070;
}

.copyright {
    display: flex;
    margin-top: 20px;
    margin-left: 90px;
    padding: 3px 5px;
    width: 1150px;

}

.copyright a {
    font-size: 12px;
    margin-left: 5px;
}

.copyright p {
    font-size: 12px;
    color: #41413f;
    margin-left: 5px;
}

.space {
    margin-top: 100px;
}

